#place-info{
    width: 500px;
    padding-top: 20px;
    margin: auto;
}

#place-name, #place-address, #place-open, #place-actions{
    text-align: right;
}

#actions{
    visibility: hidden;
}

#viewOnGH{
    position: fixed;
    right: 0px;
    bottom:0px;
    padding: 6px;
    background-color: white;
    text-align: center;
}

#login{
    position: absolute;
    right: 20px;
    top: 10px;
}
#radius{
    position: absolute;
    left: 20px;
    top: 20px;
}

#radius-input{
    width: 120px;
    text-align: center;
}

#myBtn{
    cursor: pointer;
}