#place-info{
    width: 500px;
    padding-top: 20px;
    margin: auto;
}

#place-name, #place-address, #place-open, #place-actions, #place-friends{
    text-align: right;
}

#actions, #addNote, #myNotes{
    display: none;
}

#viewOnGH{
    position: fixed;
    right: 0px;
    bottom:0px;
    padding: 6px;
    background-color: white;
    text-align: center;
}

#login{
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
}
#radius{
    position: absolute;
    left: 20px;
    top: 20px;
}

#radius span{
    color: white;
}

#radius-input{
    width: 120px;
    text-align: center;
}

#myBtn{
    cursor: pointer;
}

#myNotesTable{
    text-align: left;
}

#top{
    background-color: black;
    padding: 1px;
}

#header{
    text-align: center;
    margin: 5px;
}

#iwasthere{
    cursor:pointer;
}

input.radio_location_type{
    margin-left: 5px;
    margin-right: 3px;
}